%footer{role: "footer"}
  %nav
    %ul
      %li
        = link_to t("navigation.features"), "features.html"
      %li
        = link_to t("navigation.prices"), "pricing.html"
      %li
        = link_to t("navigation.aboutus"), "#"
      %li
        = link_to t("navigation.blog"), "#"
      %li
        = link_to t("navigation.imprint"), "impressum.html"

    %ul.social
      %li
        = link_to "", "#", data: {icon: "facebook"}, class: "facebook"
      %li
        = link_to "", "#", data: {icon: "twitter"}, class: "twitter"
      %li
        = link_to "", "#", data: {icon: "rss"}, class: "rss"
