%footer{role: "footer"}
  %nav
    %ul
      %li
        = link_to "Features", "#"
      %li
        = link_to "Plans &amp; Pricing", "#"
      %li
        = link_to "About us", "#"
      %li
        = link_to "Blog", "#"
      %li
        = link_to "Contact &amp; Support", "#"

    %ul.social
      %li
        = link_to "", "#", data: {icon: "facebook"}, class: "facebook"
      %li
        = link_to "", "#", data: {icon: "twitter"}, class: "twitter"
      %li
        = link_to "", "#", data: {icon: "rss"}, class: "rss"
