%nav{role: "navigation"}
  %h1
    = link_to image_tag("clockwork-logo-neu.png", alt: "Clockwork"), "/#{I18n.locale}"

  %a.navigation-flyout#navigation_flyout
    %i.icon-list

  %ul#navigation_list
    %li
      = link_to t("navigation.features"), "features.html"
    %li
      = link_to t("navigation.prices"), "pricing.html"
    %li
      = link_to t("navigation.login"), "https://app.clockwork.io/users/sign_in"
    %li
      = link_to t("navigation.free-trial"), "https://app.clockwork.io/signup", class: "button button-orange"

    %li
      = link_to "EN", "/en/#{path_without_locale}.html", class: "translate"
      |
      = link_to "DE", "/de/#{path_without_locale}.html", class: "translate"
