<html>
  <head>
    <meta charset="utf-8" />
    <title>Clockwork - Smart Workforce Management App</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <%= stylesheet_link_tag "styles" %>
    <%= yield_content :styles %>

    <%= javascript_include_tag  "main" %>
    <%= yield_content :js %>
  </head>
  <body>
    <script>
      jQuery('body:not(.js)').addClass('js');
    </script>
    <header>
      <nav>
        <%= partial "partials/nav" %>
      </nav>
    </header>
    <div id="main" role="main">
      <%= yield %>
    </div>
    <footer>
      <%= partial "partials/footer" %>
    </footer>
  </body>
</html>
