!!! 5
%html
  %head
    %title Clockwork

    = stylesheet_link_tag "vendor/normalize", "vendor/socialico", "vendor/font-awesome", "site"
    = javascript_include_tag "vendor/zepto", "all"

    %script{type: "text/javascript", src: "//use.typekit.com/gye8xts.js"}

    %meta{charset: "utf-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}

    :javascript
      try{Typekit.load();}catch(e){}

    = partial "partials/analytics"

  %body
    %header.master{role: "banner"}
      = partial "layouts/navigation"

    = yield

    = partial "layouts/footer"

