!!! 5
%html
  %head
    %title Clockwork - Smart Workforce Management App

    = stylesheet_link_tag "vendor/normalize", "vendor/socialico", "vendor/font-awesome", "site"
    = javascript_include_tag "vendor/zepto", "all"
    %link{href: "//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css", rel: "stylesheet"}/

    %script{type: "text/javascript", src: "//use.typekit.com/gye8xts.js"}

    %meta{charset: "utf-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    %meta{name: "google-site-verification", content: "eLzLmUaWuEiDkOhY8DvYG28xX0FNF7ZHMyB-cg3Ijrg"}
    %meta{name: "description", content: "Aa simple solution for making shift organising a pleasure, not a chore."}

    = yield_content :head

    :javascript
      try{Typekit.load();}catch(e){}

    = partial "partials/analytics"

  %body
    %header.master{role: "banner"}
      = partial "layouts/navigation"

    = yield

    = partial "layouts/footer"

