%nav
  %ul
    %li
      %h2
        Sitemap
    %li
      = link_to t("footer.features"), "#features"
    %li
      = link_to t("footer.prices"), "#"
    %li
      = link_to t("footer.testing"), "#"
    %li
      = link_to t("footer.login"), "#"
  %ul
    %li
      %h2
        Support
    %li
      = link_to t("footer.faq"), "#"
    %li
      = link_to t("footer.blog"), "#"
  %ul
    %li
      %h2
        Kontakt
    %li
      %i#icon.fa.fa-phone
      +49 (0) 331 28 05 454
    %br
      %li
        %i#icon.fa.fa-envelope
        contact@clockwork.io
  %ul
    %li
      %h2
        Social
    %li#social
      %i.fa.fa-twitter
      %i.fa.fa-facebook
      %i.fa.fa-github
