%nav
  %h2
    Sitemap
  %ul
    %li
      = link_to t("footer.features"), "#features"
    %li
      = link_to t("footer.prices"), "#"
    %li
      = link_to t("footer.testing"), "#"
    %li
      = link_to t("footer.login"), "#"
  %h2
    Kontakt
  %ul
    %li
      %i#icon.fa.fa-phone
      +49 (0) 331 28 05 454
    %br
      %li
        %i#icon.fa.fa-envelope
        contact@clockwork.io
  %h2
    Social
  %ul
    %li#social
      = link_to "https://github.com/Cileos/shiftplan", target: '_blank' do
        %i.fa.fa-github
