= link_to image_tag("clockwork-logo.png", alt: "Clockwork")
%ul
  %li
    = link_to t("navigation.features"), "#features", class: "list"
  %li
    = link_to t("navigation.prices"), "#", class: "list"
  %li
    = link_to t("navigation.testing"), "https://app.clockwork.io/signup", class: "button button-orange"
  %li
    = link_to t("navigation.login"), "https://app.clockwork.io/users/sign_in", class: "list"
  %li
    = link_to "EN", "/en/#{path_without_locale}.html", class: "translate"
    |
    \#{link_to "DE", "/de/#{path_without_locale}.html", class: "translate"}
