.hero.teaser
  .wrap
    %header
      %h1
        = t("index.title")
      %h2
        = t("index.text")

    .screenshot
      = image_tag "screenshot.jpg", alt: ""

      %nav
        %ul
          %li
            = link_to t("index.explore-feature"), "features.html", class: "button button-blue"
          %li
            = link_to t("navigation.free-trial"), "https://app.clockwork.io/signup", class: "button button-orange"
