#blurred_screenshot
  %h1
    = t("content.title")
  %h2
    = t("content.subtitle")

  #screen_image
    .arrow-left-box
      = t("speechbubbles.planning")

.arrow-border

%section
  %h1
    = t("content.what_title")
  %article
    %p= t("content.what_content")
  %article
    = image_tag("some-screenshots.png")

.arrow-border

%section
  %h1
    = t("content.how_title")
  %article
    = image_tag("ipad4_nexus_landscape.png")
  %article
    = t("content.how_content")

#features
.arrow-border

%section
  %h1
    = t("content.feature.title")
  .features
    .feature
      %i.fa.fa-sitemap
      %h1
        = t("content.feature.flexible")
      %p
        = t("content.feature.flexible_content")
    .feature
      %i.fa.fa-calendar
      %h1
        = t("content.feature.calender")
      %p
        = t("content.feature.calender_content")
    .feature
      %i.fa.fa-file-text-o
      %h1
        = t("content.feature.report")
      %p
        = t("content.feature.report_content")
    .feature
      %i.fa.fa-flash
      %h1
        = t("content.feature.conflicts")
      %p
        = t("content.feature.conflicts_content")
    .feature
      %i.fa.fa-files-o
      %h1
        = t("content.feature.documents")
      %p
        = t("content.feature.documents_content")
    .feature
      %i.fa.fa-comments
      %h1
        = t("content.feature.communication")
      %p
        = t("content.feature.communication_content")
    .feature
      %i.fa.fa-plan-templates
      %h1
        = t("content.feature.plan_templates")
      %p
        = t("content.feature.plan_templates_content")
    .feature
      %i.fa.fa-milestones
      %h1
        = t("content.feature.milestones")
      %p
        = t("content.feature.milestones_content")
    .feature
      %i.fa.fa-alerts
      %h1
        = t("content.feature.alerts")
      %p
        = t("content.feature.alerts_content")

%section
  %h2
    %i.fa.fa-gears
    = t("content.future_feature.title")
  .future-features
    %h1
      = t("content.future_feature.self_service_title")
    %p
      = t("content.future_feature.self_service_content")
  .future-features
    %h1
      = t("content.future_feature.time_tracking_title")
    %p
      = t("content.future_feature.time_tracking_content")
  .future-features
    %h1
      = t("content.future_feature.reward_system_title")
    %p
      = t("content.future_feature.reward_system_content")
  .future-features-speachbubble
    .arrow-up-box
      = t("speechbubbles.convinced")

#prices
.arrow-border

%section
  %h1
    = t("content.how_much_title")
  %h6
    = t("content.how_much_content")
  .prices
    %h1
      Solar Clock
    %i.fa.fa-user
    %p
      = t("content.how_much_solar")
    %p.price
      = t("content.how_much_solar_price")
  .prices
    %h1
      Steam Clock
    %i.fa.fa-users
    %p
      = t("content.how_much_steam")
    %p.price
      = t("content.how_much_steam_price")
  .prices
    %h1
      Atomic Clock
    %i.fa.fa-users
    %p
      = t("content.how_much_atomic")
    %p.price
      = t("content.how_much_atomic_price")

.arrow-border

%section
  %h1
    = t("content.who_title")
  %article
    = t("content.who_content")
  %article
    = image_tag("group-photo.jpg")

.arrow-border

%section
  = link_to t("navigation.testing"), "https://app.clockwork.io/signup", class: "button button-orange", target: '_blank'

.arrow-border
