%div#blurred_screenshot
  %h1
    = t("content.title")
  %h2
    = t("content.subtitle")

  = image_tag("dark-screen.gif")

.arrow_border

%section
  %h1
    = t("content.what_title")
  %article
    = t("content.what_content")
  %article
    = image_tag("some-screenshots.png")

.arrow_border

%section
  %h1
    = t("content.how_title")
  %article
    = image_tag("nexus4-landscape.png")
  %article
    = t("content.how_content")

.arrow_border

%section
  %h1
    = t("content.feature_title")
