%h1
  = t("content.title")
%h2
  = t("content.subtitle")

.arrow_border

%section
  %h1
    = t("content.what_title")
  %article
    = t("content.what_content")
  %article
    BILD

.arrow_border

%section
  %h1
    = t("content.how_title")
  %article
    BILD
  %article
    = t("content.how_content")

.arrow_border

%section
  %h1
    = t("content.feature_title")
