%div#blurred_screenshot
  %h1
    = t("content.title")
  %h2
    = t("content.subtitle")

  = image_tag("dark-screen.gif")

.arrow_border

%section
  %h1
    = t("content.what_title")
  %article
    = t("content.what_content")
  %article
    = image_tag("some-screenshots.png")

.arrow_border

%section
  %h1
    = t("content.how_title")
  %article
    = image_tag("nexus4-landscape.png")
  %article
    = t("content.how_content")

.arrow_border

%section
  %h1
    = t("content.feature.title")
  .feature
    %i.fa.fa-sitemap
    %h1
      = t("content.feature.flexible")
    %p
      = t("content.feature.flexible_content")
  .feature
    %i.fa.fa-calendar
    %h1
      = t("content.feature.calender")
    %p
      = t("content.feature.calender_content")
  .feature
    %i.fa.fa-file-text-o
    %h1
      = t("content.feature.report")
    %p
      = t("content.feature.report_content")
  .feature
    %i.fa.fa-flash
    %h1
      = t("content.feature.conflicts")
    %p
      = t("content.feature.conflicts_content")
  .feature
    %i.fa.fa-files-o
    %h1
      = t("content.feature.documents")
    %p
      = t("content.feature.documents_content")
  .feature
    %i.fa.fa-comments
    %h1
      = t("content.feature.communication")
    %p
      = t("content.feature.communication_content")

.arrow_border

%section
  %h3
    %i.fa.fa-gears
    = t("content.future_feature.title")
  .future-features
    %h1
      = t("content.future_feature.trading_shifts_title")
    %p
      = t("content.future_feature.trading_shifts_content")
  .future-features
    %h1
      = t("content.future_feature.message_title")
    %p
      = t("content.future_feature.message_content")
  .future-features
    %h1
      = t("content.future_feature.qualification_title")
    %p
      = t("content.future_feature.qualification_content")
  .future-features
    %h1
      = t("content.future_feature.self_service_title")
    %p
      = t("content.future_feature.self_service_content")


.arrow_border
